%h2= "Log in", session[:return_to] ? " first" : nil

%p Comment, customise things.

= form(:action => url(:login)) do
  %p
    %label{:for => 'email'} Email address:
    = text_field(:name => "email")
  %p
    %label{:for => 'password'} Password:
    = password_field(:name => "password")
  %p
    %label{:for => 'remember_me'} Remember me:
    = check_box(:name => 'remember_me')
  %p.action
    = submit('Log in')