<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
<title>waferbaby</title>
<%= css_include_tag :screen, :media => :screen -%>
</head>
<body>

<div id="airlock">
	
<div id="header">
<h1><a href="<%= url(:posts) %>" title="">waferbaby</a></h1>
<ul id="navigation">
<li class="about"><a href="<%= url(:about) %>" title="Site information.">About</a></li>
<li class="projects"><a href="#">Projects</a></li>
</ul>
<h2>We eat bandwidth for breakfast.</h2>
</div>

<div id="content">
<%= catch_content :for_layout %>
</div>

<div id="sidebar">
<h2>Sidebar</h2>
<p>This is the sidebar. Little notes will go here.</p>
</div>

<p id="footer"><q><%= "i r quote" %></q> This is waferbaby v5.</p>
</div>

</body>
</html>