<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
<title>waferbaby</title>
<%= css_include_tag :screen, :media => :screen -%>
</head>
<body>

<div id="airlock">
	
<div id="header">
<h1><a href="<%= url(:posts) %>" title="View the latest random drivel.">waferbaby</a></h1>
<ul id="navigation">
<li><a href="<%= url(:about) %>" title="Come glean some pointless tidbits of information.">About</a></li>
<% unless logged_in? %>
<li><a href="<%= url(:login) %>" title="Come on it! Please?">Log in</a> or <a href="<%= url(:signup) %>" title="Carve that cute lil' face'o yours into the site.">Signup</a></li>
<% else %>
<li><a href="<%= url(:logout) %>" title="Fleeeeeeee!">Log out</a></li>
<% end %>
</ul>
</div>

<div id="content">
<%= catch_content :for_layout %>
</div>

<p id="footer">This is waferbaby v5. Sorry about that.</p>
</div>

</body>
</html>