.scrawl{:id => 'scrawl-' + @scrawl.id.to_s}
  .shelf
    %p.date.small
      %span.month= @scrawl.created_month_short_name
      %span.day= @scrawl.created_day
  .contents
    %h3= link_to(@scrawl.person.login + ":", url(:profile, @scrawl.person), :title => "View more about '#{h(@scrawl.person.login)}'.")
    = markup(@scrawl.contents)