.scrawl{:id => 'at-' + @scrawl.created_time}
  .shelf
    %p.date
      %a{:href => date_url_for(@scrawl, 'wallscrawl') + "#at-#{@scrawl.created_time}", :title => "Permalink for this scrawl."}
        %span.month= @scrawl.created_month_short_name
        %span.day= @scrawl.created_day
        %span.year= @scrawl.created_year
  .contents
    %h3= link_to("#{@scrawl.person.username}:", url(:person, @scrawl.person), :title => "View more about '#{h(@scrawl.person.username)}'.")
    = markup(@scrawl.contents)