<div class="post micro" id="at-<%= @post.created_time %>">
<p class="date">
<span class="month"><%= @post.created_month_short_name %></span>
<span class="day"><%= @post.created_day %></span>
</p>
<div class="contents">
<h3><%= link_to_micro_post(@post) %></h3>
<%= markup(@post.contents) %>
</div>
<% if @post.categories.length > 0 %><p class="categories"><%= link_to_post_categories(@post) %></p><% end %>
</div>