<div class="post" id="post_<%= @post.id %>">
<h3><%= title_of(@post) %></h3>
<%= contents_of(@post) %>
<p class="summary">
Written <%= time_lost_in_words(@post.created_on) %> ago (<%= link_to_post_year(@post) %>/<%= link_to_post_month(@post) %>/<%= link_to_post_day(@post) %>).
<%= "Filed under " + @post.categories.collect { |category| link_to_post_category(category) }.join(', ') if @post.categories.length %>
</p>
</div>