.post{:id => 'post' + @post.id.to_s}
  %p.date
    %span.month= @post.created_month_short_name
    %span.day= @post.created_day
    %span.year= @post.created_year
  .contents
    %h3= @post.is_selected ? @post.title : link_to_weblog_post(@post)
    = markup(@post.contents)
    - if @post.categories.length > 0
      %p.categories= link_to_post_categories(@post)