.note
  .shelf
    %p.date.small
      %a{:href => date_url_for(@note, 'notes'), :title => "View all posts from #{@note.created_month_short_name} #{@note.created_day}, #{@note.created_year}."}
        %span.month= @note.created_month_short_name
        %span.day= @note.created_day
  .contents
    = markup(@note.contents)